h1 {
	font-family: "Contrail One";
	margin-left: 1.66%;
	border-bottom: 3px solid #F1F1F1;
	padding-bottom: 10px;
	width: 30%;
}

img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

footer {
	margin-top: 10px;
	margin-left: 1.66%;
}